@(title: String)(contentleft: Html)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
        <script src="@routes.Assets.at("javascripts/swfobject.js")" type="text/javascript"></script>
		<!--[if lt IE 9]>
		  <script type="text/javascript" src="@routes.Assets.at("javascripts/excanvas/excanvas.js")"></script>
		<![endif]-->
		<script type="text/javascript" src="@routes.Assets.at("javascripts/spinners/spinners.min.js")"></script>        
    </head>

	<body id="body">
	
		<div id="wrapper">
			<div id="header">
				<div class="fixedwidth">
					<div class="left">
						LOGO HERE
					</div>
					<div class="right">
					    <a href="/?lang=pl">PL</a>
					    <a href="/?lang=en">EN</a>
					</div>
				</div>
			</div>
	
			<div id="main">
				<div id="menu">
					<div class="fixedwidth">
						<div class="menu-item">
							<a href="/">HOME</a>
						</div>
	
						<div class=" right">
	                        @if(session.get("user") != null) {
	                            <a href="/logout" >Logout</a>
	                        } else {
	                            <span id="form" style="display: none;"><form id="f" action="/login" method="post" style="display: inline;"><input name="pass" type="password" value="password"/>&nbsp;<a href="#" onclick="$('#f').submit();">OK</a>|<a href="#" onclick="$('#form').hide(); $('#loginb').show();">Cancel</a><input type="submit" value="Login" style="display: none;"/></form></span>
	                            <a id="loginb" href="#" onclick="$('#form').toggle(); $(this).toggle();">@Messages("login")</a>&nbsp;
	                        }
						</div>
	
						<div class="clear"></div>
	
					</div>
				</div>
	
				<div id="content">
					<div class="fixedwidth">
					<div class="left left-content">@contentleft</div>
					<div class="right right-content">@content</div>
					<div class="clear"></div>
					</div>
				</div>
			</div>
			<div id="push"></div>
		</div>
	
		<div id="footer">
			<div class="fixedwidth">FOOTER HERE</div>
		</div>
	
	</body>

</html>

