@(note: models.Note)
@main("Home") {
    <ul>
        <li><a href="/">Home</a></li>
        @if(session.get("user") != null) {
            <li><a href="/deleteall">@Messages("deleteall")</a></li>
        }
    </ul>
} {
    
       <h1 class="left">@note.getTitle()</h1>
       <div class="right">@note.getDate()</div>
       <div class="clear"></div>
       <div>
           @if(session.get("user") != null) {
              <a href="/delete/@note.getId()">@Messages("delete")</a>
           }
          <div>
          @note.getContent()
          </div>
          </div>
   
}